.container {
    max-width: 1200px;
}

.jumbo {
    background-image: url("/images/jumboV2.jpg");
    background-size: cover;
    max-height: 600px;
}

.content {
    padding: 2rem 0;
}

.page-heading {
    background: url("/images/funky-lines.png") repeat fixed;
   
}